.sign-up-form {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.sign-up-form .margin-form{
    margin: 10px 0px;
}

.sign-up-form h1{
    margin-top: 25px;
    text-align: center;
}